#POO o programación orientada a objetos
Clase es como un molde
- Variables --> Atributos
- Funciones --> Métodos
- Constructor --> Constituye una clase
- Objetos: Comparten atributos, métodos, relaciones que tienen identidad propia

In [ ]:
class Mascotas():
  pass

In [ ]:
a=Mascotas #Creando un objeto
b=Mascotas

In [ ]:
if a==b:
  print("Son igualitos")
else:
  print("No son igualitos")

Son igualitos

In [ ]:
class Empleado(): #LA PRIMERA SIEMPRE VA EN MAYÚSCULA
# Construyendo un constructor
  def __init__(self,nombre, edad, id, salario) :
    self.nombre = nombre
    self.edad = edad
    self.id = id
    self.salario = salario
  def __repr__(self):
    return f"nombre:{self.nombre}, edad:{self.edad}, id:{self.id}, salrio:{self.salario}"

In [ ]:
sonia=Empleado("Sonia",25,"U00152314",10000000)

In [ ]:
print(sonia)

nombre:Sonia, edad:25, id:U00152314, salrio:10000000

In [ ]:
sonia.nombre

'Sonia'

In [ ]:
sonia.__dict__

{'nombre': 'Sonia', 'edad': 25, 'id': 'U00152314', 'salario': 10000000}

In [ ]:
class Fraccion:
  #Atributos de clase
  num=0
  den=1

  #creando el constructor
  def __init__(self, num=0, den=1):
    self.num=num
    self.den=den

  def multiplica(self, b):
    num=self.num*b.num
    den=self.den*b.den
    r=Fraccion(num,den)
    return r

  def imprime(self):
    print(self.num, "/",self.den)

In [ ]:
#Creando objetos tipo fracción
a1=Fraccion(4,5)
a2=Fraccion(8,9)

In [ ]:
a1.imprime()
a2.imprime()

4 / 5
8 / 9

In [ ]:
c=a1.multiplica(a2)
c.imprime()

32 / 45

In [ ]:
class Suma:
  num1=0
  num2=1

  def __init__(self, num1=0, num2=1):
    self.num1=num1
    self.num2=num2

  def sumar(self, b):
    num1=self.num1+b.num1
    num2=self.num2+b.num2
    r=Suma(num1,num2)
    return r

  def imprime(self):
    print(self.num1, "+",self.num2)

In [ ]:
a1=Suma(4,5)
a2=Suma(8,9)

In [ ]:
a1.imprime()
a2.imprime()

4 + 5
8 + 9

In [ ]:
c=a1.sumar(a2)
c.imprime()

12 + 14

In [ ]:
class Resta:
  num1=0
  num2=1
  def __init__(self, num1=0, num2=1):
    self.num1=num1
    self.num2=num2

  def restar(self, b):
    num1=self.num1-b.num1
    num2=self.num2-b.num2
    r=Resta(num1,num2)
    return r

  def imprimir(self):
    print(self.num1, "-",self.num2)

In [ ]:
a1=Resta(4,5)
a2=Resta(8,9)

In [ ]:
a1.imprimir()
a2.imprimir()

4 - 5
8 - 9

In [ ]:
c=a1.restar(a2)
c.imprimir()

-4 - -4